.mainGradient {
	-fx-background-color: linear-gradient(to bottom, #1e5799 0%,#2989d8 23%,#2989d8 23%,#207cca 63%,#207cca 74%,#7db9e8 100%); 
}

.labelGradient {
	-fx-background-color: linear-gradient(to bottom, rgba(69.0, 72.0, 77.0, 1.0) 3.0%,
		rgba(0.0, 0.0, 0.0, 1.0) 100.0%);
}

.btAdd {
  -fx-graphic: url('Add.png');
}

.btOk {
  -fx-graphic: url('Ok.png');
}

.btCancel {
  -fx-graphic: url('Cancel.png');
}

.btBack {
  -fx-graphic: url('Back.png');
}

.btSave {
  -fx-graphic: url('Save.png');
}

.btUseFormula {
  -fx-graphic: url('basket_put.png');
}

.btExit {
  -fx-graphic: url('Exit.png');
}

.btDescargaBalanca {
  -fx-graphic: url('basket_go.png');
}

.btProcessamento {
  -fx-graphic: url('gear.png');
}

.btDosagem {
  -fx-graphic: url('dropper.png');
}

.btFormulacao {
  -fx-graphic: url('chemistry.png');
}

.btSearch {
  -fx-graphic: url('Zoom.png');
}

.btClear {
  -fx-graphic: url('broom.png');
}

.combo-font {
	-fx-font: 14px "Regular";
}

