.mainGradient {
	-fx-background-color: linear-gradient(to bottom, #ffff88 0.0%,#ffff42 94.0%);
}

.labelGradient {
	-fx-background-color: linear-gradient(to bottom, rgba(69.0, 72.0, 77.0, 1.0) 3.0%,
		rgba(0.0, 0.0, 0.0, 1.0) 100.0%);
}

.btAdd {
  -fx-graphic: url('Add.png');
}

.btOk {
  -fx-graphic: url('Ok.png');
}

.btCancel {
  -fx-graphic: url('Cancel.png');
}

.btBack {
  -fx-graphic: url('Back.png');
}

.btSave {
  -fx-graphic: url('Save.png');
}

.btUseFormula {
  -fx-graphic: url('basket_put.png');
}

.btExit {
  -fx-graphic: url('Exit.png');
}

.combo-font {
	-fx-font: 14px "Regular";
}

